@import "../../assets/styles/variables.style.scss";

.shopping-cart-content {
  position: absolute;
  z-index: 999;
  border-radius: 5px;
  top: 160%;
  right: 0;
  visibility: hidden;
  padding: 10px 35px 10px;
  width: 340px;
  transition: 0.4s all ease-in-out 0s;
  transform: rotateX(90deg);
  transform-origin: center top 0;
  opacity: 0;
  border: 1px solid #ebebeb;
  background: white;

  &.cart-visible,
  &.active {
    visibility: visible;
    transform: rotateX(0deg);
    opacity: 1;
  }
  ul {
    overflow-y: auto;
    max-height: 400px;
    margin-right: -15px;
    list-style: none;
    padding: 20px 15px 0 0;
    margin: 0;
    li {
      position: relative;
      display: flex;
      margin-bottom: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid #ebebeb;

      .shopping-cart-img {
        flex: 0 0 100px;
        margin-right: 15px;

        img {
          width: 100%;
          height: 130px;
          object-fit: cover;
        }
      }
      .shopping-cart-title {
        h4 {
          font-size: 15px;
          line-height: 16px;
          margin: 0;
          margin-right: 20px;
        }
        h6 {
          font-size: 13px;
          margin: 5px 0 8px;
        }
        span {
          font-size: 14px;
        }
      }

      .shopping-cart-delete {
        position: absolute;
        top: 0;
        right: 0;
        a,
        button {
          font-size: 16px;
          i:after,
          i:before {
            color: $theme-color;
          }
        }
      }
    }
  }
  .shopping-cart-total {
    h4 {
      font-size: 14px;
      margin: 17px 0;
      span {
        float: right;
        color: $theme-color;
      }
    }
  }
  .shopping-cart-btn {
    margin-top: 23px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .default-btn {
      font-size: 14px;
      display: block;
      font-weight: 500;
      text-align: center;
      color: black;
      text-decoration: none;
      border: 1px solid black;
      padding: 13px 0px;
      font-size: 16px;
      &:hover {
        border-color: $theme-color;
        color: white;
      }
      &::before {
        background: $theme-color;
      }
    }
  }
}
