@import "../../assets/styles/variables.style.scss";

.profile-header {
  position: relative;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 10px;

  h4 {
    font-size: 18px;
    margin: 0;
    display: block;
    @media screen and (max-width:720px) {
      padding: 30px 0 0; 
    }
  }

  span {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
  }
}
.bordered-right-1{
  border-right: 1px solid lightgray;

  @media screen and (max-width:720px) {
    border: none;
  }
}
form {
  .input-group {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media screen and (max-width:720px) {
        padding: 5px;  
    }

    label {
      display: block;
      text-align: right;
      width: 20%;
      font-size: 14px;
      font-weight: 400;
      color: rgb(129, 129, 129);
    }

    input {
      background: none;
      border: 1px solid #dfdfdf;
      padding: 10px;
      color: #333;
      font-weight: 400;
      display: block;
      width: 75%;

      &:focus {
        border-color: $theme-color;
        outline: unset;
      }
    }
  }
  button {
    padding: 10px 25px;
    border: none;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    background-color: $theme-color;
    color: white;
    float: right;
    margin: 15px 0;

    transition: 0.4s all ease-in-out;

    &.picUpload{
      background: black;

      &:hover{
        background-color: $theme-color;
      }
    }
    &:hover{
        background-color: black;
    }
  }

  img{
    padding: 10px;
    display: block;
  }
}
