@import "../../assets/styles/variables.style.scss";

.header-right-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;

  @media #{$md-layout} {
    margin-top: 0;
  }
  @media #{$xs-layout} {
    margin-top: 23px;
  }
  .same-style {
    position: relative;
    margin-left: 14px;

    @media #{$lg-layout} {
      margin-left: 10px;
    }
    @media #{$md-layout} {
      margin-left: 15px;
    }
    @media #{$xs-layout} {
      margin-left: 20px;
    }
    > a,
    button {
      font-size: 23px;
      font-weight: 200;
    }

    > button {
      border: none;
      background: none;
    }

    &:first {
      margin-left: 0;
    }
    &:hover > a,
    &:hover > button {
      color: $theme-color;
    }
  }

  .same-style.header-search {
    .search-content {
      position: absolute;
      z-index: 99;
      top: 193%;
      right: 0;
      visibility: hidden;
      min-width: 300px;
      padding: 15px;
      transition: 0.5s all ease-in-out;
      transform: rotateX(90deg);
      transform-origin: center top 0;
      opacity: 0;

      background: white none repeat scroll 0 0;
      box-shadow: 0 1px 1px 1px rgba($color: black, $alpha: 0.1);

      &.active {
        visibility: visible;
        transform: rotateX(0deg);
        opacity: 1;
      }

      form {
        position: relative;
        input {
          width: 100%;
          font-weight: 200;
          padding: 10px 72px 10px 15px;
          transition: all 0.4s ease-in-out 0s;
          color: black;
          border: 1px solid #d3d3d3;
          outline: medium none;
          background: transparent;

          &:focus {
            border-color: $theme-color;
          }
        }

        .button-search {
          font-size: 20px;
          line-height: 1;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          padding: 5px 20px 2px;
          transition: 0.4s all ease-in-out 0s;
          color: white;
          border: none;
          border-color: #d3d3d3;
          background-color: $theme-color;

          &:hover {
            background-color: black;
          }
        }
      }
    }
  }

  .same-style.account-setting {
    > a,
    button {
      font-size: 24px;
    }
    > button {
      border: none;
      background: none;
    }

    > .account-dropdown {
      position: absolute;
      z-index: 100;
      top: 109%;
      right: 0;
      width: 125px;
      padding: 8px 12px 10px;
      transition: all 0.4s ease-in-out 0s;
      transform: rotateX(90deg);
      transform-origin: center top 0;
      text-align: left;
      opacity: 0;
      visibility: hidden;
      background: white none repeat scroll 0 0;
      box-shadow: 0 1px 1px 1px rgba($color: black, $alpha: 0.1);
      &.active {
        opacity: 1;
        visibility: visible;
        transform: rotateX(0deg);
      }

      @media #{$xs-layout} {
        top: 100%;

        margin-top: 14px;
      }
      @media #{$md-layout} {
        top: 100%;

        margin-top: 14px;
      }
      @media #{$lg-layout} {
        left: -40px;
      }
      @media #{$xl-layout} {
        left: -34px;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          a,
          button {
            font-size: 13px;
            font-weight: 400;
            display: block;
            padding: 7px 0;
            color: black;
            text-decoration: none;
            background: none;
            border: none;
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
  }

  .same-style.cart-wrap {
    margin-left: 15px;
    position: relative;
    button,
    & > a {
      position: relative;
      display: inline-block;
      padding: 0;
      color: black;
      border: none;
      background: transparent;

      .count-style {
        font-size: 12px;
        line-height: 21px;
        position: absolute;
        top: -9px;
        right: -14px;
        display: inline-block;
        text-align: center;
        color: white;
        width: 21px;
        height: 21px;
        border-radius: 100%;
        background: black;
      }
    }
  }
}
