.swiper-style{
    padding: 40px 0 60px;
}

.swiper-button-prev , .swiper-button-next {
    color: rgb(17, 88, 61);
}

.swiper-button-prev{
    margin-left: 20px;

}
.swiper-button-next{
    margin-right: 20px;
}