@import "../../assets/styles/variables.style.scss";

.product-pagination-style {
  ul {
    li {
      display: inline-block;
      margin: 0 4px;

      a,
      button {
        font-size: 16px;
        line-height: 3px;
        display: inline-block;
        width: 43px;
        height: 43px;
        padding: 0;
        color: $theme-color;
        border: none;
        border-radius: 100% !important;
        box-shadow: 0 0 12px 0.8px rgba($color: black, $alpha: 0.1);
        &:hover {
          color: white;
          background-color: $theme-color;
        }
      }
      a.active {
        color: white;
        background-color: $theme-color !important;
        box-shadow: none;
        &:hover {
          background-color: #333;
        }
      }
      a.prev,
      a.next {
        font-size: 17px;
        color: $theme-color;
        background-color: #f6f6f6;
        box-shadow: none;

        &:hover {
          color: white;
          background-color: $theme-color;
        }
      }
      &.page-item {
        .page-link {
          color: $theme-color;
          border: none;

          &:hover {
            color: white;
            background-color: $theme-color;
          }
        }
        &.active {
          .page-link {
            border-color: $theme-color;
            background-color: $theme-color;
            box-shadow: 0 0 12px 0.8px rgba($color: black, $alpha: 0.1);
            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
