@import '../../assets/styles/variables.style.scss';

.error{
    h1{
        font-size: 17rem;
        letter-spacing: 1rem;
        line-height: 1.1;
        margin-bottom: 30px;
        color:$theme-color;
    }
    h2{
        font-size: 25px;
        font-weight: 600;
    }
}
.error-btn {
    position: relative;
    transition: all 0.3s;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    min-width: 184px;
    min-height: 55px;
    line-height: 55px;
    margin-bottom: 6px;
    padding: 0 10px;
    border: none;
    border-radius: 0;
    background-color: $theme-color;
    display: inline-block;
    &:hover {
      background-color: #111111;
      color: #fff;
      &:after {
        background-color: #111111;
      }
    }
  }