@import "../../assets/styles/variables.style.scss";
.login-register-wrapper {
  .login-register-tab-list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .nav-item {
      position: relative;
      display: flex;
      a {
        background: none;
        padding: 0;
        color: #333;
        cursor: pointer;
        h4 {
          font-size: 25px;
          font-weight: 600;
          margin: 0 20px;
          transition: 0.4s all ease-in-out;
        }
        &:first-child::after {
          display: none;
        }

        &::after {
          background-color: #454545;
          bottom: 5px;
          content: "";
          height: 18px;
          margin: 0 auto;
          position: absolute;
          transform: all 0.4s ease-in-out;
          width: 1px;
        }
      }
      a.active h4 {
        color: $theme-color;
      }
    }
  }

  .login-form-container {
    background: transparent none repeat scroll 0 0;
    box-shadow: 0 0 6px rgba($color: black, $alpha: 0.1);
    padding: 80px;
    text-align: left;

    .login-register-form {
      form {
        position: relative;
        width: 100%;
        input {
          background-color: transparent;
          border: 1px solid #ebebeb;
          font-size: 14px;
          height: 45px;
          margin-bottom: 30px;
          padding: 0 15px;
          width: 100%;
          display: block;

          &:focus {
            outline: unset;
            border-color: $theme-color;
          }
        }
        .button-container{
            display: flex;
            width: 100%;
            gap: 20px;
        }
      }
    }
  }
}
