@import "../../assets/styles/variables.style.scss";
.button-box {
    button {
      background-color: #f2f2f2;
      border: medium none;
      cursor: pointer;
      color: #333;
      font-size: 14px;
      font-weight: 500;
      height: 45px;
      line-height: 1;
      padding: 11px 30px;
      transition: 0.4s all ease-in-out;

      &:hover {
        background-color: $theme-color;
        color: white;
      }
      &.google-button{
          background-color: #4285f4;
          color: white;

          &:hover{
          background-color: #3471d3;
              
          }
      }
    }

  }