@import "../../assets/styles/variables.style.scss";

@mixin side_bar_a {
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: black;
  padding: 5px 0;

  &.active {
    color: $theme-color;
  }
}

.account-sidebar {
  .accordion {
    .card {
      border: none;
      position: relative;
      &-header {
        border: none;
        background: none;
        position: relative;

        .account-purchased {
          @include side_bar_a;
          font-size: 16px;
          i {
            color: $theme-color;
          }
        }

        button.toggleButton {
          border: none;
          background: none;
          font-size: 16px;
          font-weight: 400;
          margin: 0;
          padding: 5px 0;

          i {
            color: rgb(43, 74, 211);
          }
        }

        .card-body {
          padding: 5px 15px;
        }

        .account-setting {
          list-style: none;
          padding: 0 0 0 5px;
          margin: 0;

          li {
            a {
              @include side_bar_a;
            }
          }
        }
      }
    }
  }
}
